@charset "utf-8";
/* CSS Document */
/* width */
::-webkit-scrollbar {
    width: 7px;
    background: none;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
  }

body {
	background: black; 
	overflow-x: hidden;
}
#Light {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%; 
	z-index: 0; 
}
#Navigation {
	background-color: #282727; 
    width: calc(100%);
    height: calc(8%);
    position: fixed;
    top: 0%;
    left: 0%;
	z-index: 10; 
	box-shadow: 5px 5px 12.5px #282727;
}
#AdvancedMenu {
	position: fixed; 
	z-index: 15; 
	width: calc(4%);
	height: calc(5%); 
	top: 1.7%; 
	left: 0.5%;
}
#WelcomeMessage {
	position: fixed; 
	z-index: 15; 
	top: -2%; 
	left: 5%;
	font-size: 25px;
	font-weight: bold;
	color: white; 
}

  @keyframes shine {
	    0% {
          color: violet;
        }
	    20% {
          color: indigo;
        }
	    30% {
          color: blue;
        }
	    40% {
          color: green;
        }
	    50% {
          color: yellow;
        }
	    60% {
          color: orange;
        }
	    70% {
          color: red;
        }
	    80% {
          color: aqua;
        }
	   90% {
          color: darkviolet;
        }
	   
	    100% {
          color: orangered;
        }
	    
        }
        
        #Menu {
          position: fixed; 
          z-index: 30;
          width: 20%; 
          height: 50%;
          left: -30%; 
          top: 8%; 
          background: #282727;
          border-bottom-right-radius: 25px;
        }
          #Code {
            position: relative; 
            left: 40%; 
          }
          #preorder {
            position: absolute;
            height: 70%; 
            width: 50%;
            border-radius: 25px;
            left: 25%; 
            top: 150%;
            z-index: 25;
            display: none; 
          }
          
          #Welcome {
            position: absolute; 
            z-index: 2; 
            border: none; 
            border-radius: 50px; 
            color: whitesmoke;
            font-size: calc(35px);
            font-weight: bold;
            font-variant-caps: all-petite-caps;
            left: 22%; 
            top: 80%; 
            background-color: #2363FF;
            width: calc(60%);
            height: calc(8%); 
            text-align: center;
            cursor: pointer;
          }
          #canvas {
            position: absolute; 
            top: 0%; 
            left: 0%;
          }
          
